h1{
    color: rgb(54, 138, 223);
}
p{
    color: hsl(181, 97%, 50%);
    font-size: 16px;
    text-align:right;
}
header{
    width: 100%;
    background: #EEEFFF;
}
body{
    width: 100%;
    background: #656565;
}
